extends layout

block content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        ul.nav 
          li  
            a(href='/users') Usuarios registrados
          li  
            a(href='/') Formulario de registro
  //ventana modal donde mostraremos los mensajes de error
  #myModal.modal.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
    .modal-header
      h2.title-modal
      hr
      .modal-body
        p.messageModal
      .modal-footer
        a.btn.btn-danger(data-dismiss="modal",aria-hidden="true") Cerrar
  .well.well-sm.span10.offset1#panel
    h3#titulo #{titulo}
  #login-form.well.span6.offset3                    
    form.form-horizontal()#registerForm.well.span5  
      h1 Register Form
      h6.subheading Registrate a través del formulario
      hr
      div.control-group
        label.control-label(for='username') Nombre de usuario
        div.controls
          input(name="username",type="text",placeholder="Escribe un nombre de usuario",required).span3.username
      div.control-group
        label.control-label(for="password") Escribe un Password
        div.controls
          input(name="password",type="password",placeholder="Escribe un password",required).span3.password
      div.control-group
        label.control-label(for="repassword") Confirma el Password
        div.controls
          input(name="repassword",type="password",placeholder="Confirma el password",required).span3.repassword
      div.control-group
        label.control-label()
        div.controls
          button.btn.btn-large.btn-block.btn-primary() 
            i.icon-white.icon-ok-sign  
            |  Registrarme